<div id="info_to_hide">
<h1>Электронный календарный план</h1>
<p></p>
<p>
Система, которая позволит вам создавать, моифицировать и централизованно хранить все ваши календарные планы, а также в два легких шага поможет распечатать готовый к сшиванию документ.</p>
<p> <a id="add_welcome">Зарегистрироваться</a>
Работать с сервисом могут только зарегистрированые пользователи, поэтому, если вы не имеете аккаунта, пожалуйста, зарегистрируйтесь.
</p>
</div>